/* Ensure html and body take full height */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

/* Main container for the content */
#root {
  flex: 1; /* Allows the footer to stay at the bottom by pushing it down */
  display: flex;
  flex-direction: column;
}

/* Footer Styles */
.footer {
  background-color: #222;
  color: #fff;
  padding: 40px 0 10px 0;
  text-align: center;
  margin-top: auto; /* This ensures footer stays at the bottom */
}

.footer__container {
  max-width: 1200px;
  margin: 0 auto;
}

/* Row Styles */
.footer__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Column Styles */
.footer__col--left,
.footer__col--right {
  flex: 0 0 50%;
  max-width: 50%;
}

.footer__logo-container {
  width: 33.333333%;
  padding: 0 15px;
  margin-bottom: 30px;
}

.footer__logo {
  max-width: 150px;
  margin-bottom: 20px;
}

.footer__text {
  color: #fff;
  margin-bottom: 10px;
  padding: 10px 0rem 7px;
}

.footer__link-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.footer__link-title {
  margin-bottom: 10px;
}

.footer__social-links {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.footer__social-link {
  margin: 0 10px;
  color: #fff;
  text-decoration: none;
}

.footer__social-link:hover {
  text-decoration: underline;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .footer__col--left,
  .footer__col--right {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .footer__social-links {
    flex-direction: row;
  }

  .footer__social-link {
    margin-bottom: 10px;
  }
}
